{% extends "gallery/header.html" %}

{% block content %}

  <body>
    <nav class="navbar mb-auto fixed-top shadow">
      {% load static %}
      <img class="navbar-brand" src="../../static/gallery/img/logo.png" alt="The Gallery">
      <nav class="navbar-nav">
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link active" href="#">Gallery</a>
            <a class="nav-link" href="/api/">API</a>
      </nav>
    </nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block sidebar">
      <div class="sidebar-sticky">
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Sort by</span>
          <a class="d-flex align-items-center text-muted" href="#">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link active" href="#">
              <span data-feather="file-text"></span>
              Newest first
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Oldest first
            </a>
          </li>
        </ul>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Select category</span>
          <a class="d-flex align-items-center text-muted" href="#">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              All
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item active" href="#">All</a>
              <div class="dropdown-divider"></div>
              {% for category in categories %}
              <a class="dropdown-item" href="#">{{category.category}} ({{category.image_set.all.count}})</a>
              {% endfor %}
            </div>
          </li>
        </ul>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Display format</span>
          <a class="d-flex align-items-center text-muted" href="#">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            {% if display.display == '1' %}
            <a class="nav-link active" href="?display=1&page={{images.number}}">
            {% else %}
            <a class="nav-link" href="?display=1&page={{images.number}}">
            {% endif %}
              <span data-feather="file-text"></span>
              1 per page width
            </a>
          </li>
          <li class="nav-item">
            {% if display.display == '2' %}
            <a class="nav-link active" href="?display=2&page={{images.number}}">
            {% else %}
            <a class="nav-link" href="?display=2&page={{images.number}}">
            {% endif %}
              <span data-feather="file-text"></span>
              2 per page width
            </a>
          </li>
          <li class="nav-item">
            {% if display.display == '3' %}
            <a class="nav-link active" href="?display=3&page={{images.number}}">
            {% else %}
            <a class="nav-link" href="?display=3&page={{images.number}}">
            {% endif %}
              <span data-feather="file-text"></span>
              3 per page width
            </a>
          </li>
          <li class="nav-item">
            {% if display.display == '4' %}
            <a class="nav-link active" href="?display=4&page={{images.number}}">
            {% else %}
            <a class="nav-link" href="?display=4&page={{images.number}}">
            {% endif %}
              <span data-feather="file-text"></span>
              4 per page width
            </a>
          </li>
        </ul>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Pictures per page</span>
            <a class="d-flex align-items-center text-muted" href="#">
              <span data-feather="plus-circle"></span>
            </a>
          </h6>
          <ul class="nav flex-column mb-2">
            <li class="nav-item">
              <a class="nav-link active" href="#">
                <span data-feather="file-text"></span>
                10
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="file-text"></span>
                25
              </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  50
                </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">
                    <span data-feather="file-text"></span>
                    100
                  </a>
                </li>
          </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

        <nav>
        <ul class="pagination justify-content-center">
              
                {% if images.has_previous %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ images.previous_page_number }}&display={{display.display}}" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                
                {% else %}

                  <li class="page-item disabled">
                    <a class="page-link" href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>

                {% endif %}
                  
                {% for i in images.paginator.page_range %}


                {% if images.number == forloop.counter %}
                <li class="page-item active"><a class="page-link" href="?page={{ forloop.counter }}&display={{display.display}}">{{forloop.counter}}</a></li>
        
                  {% else %}

                  <li class="page-item"><a class="page-link" href="?page={{ forloop.counter }}&display={{display.display}}">{{forloop.counter}}</a></li>

                  {% endif %}

                {% endfor %}

                {% if images.has_next %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ images.next_page_number }}&display={{display.display}}" aria-label="Next">
                     <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>

                {% else %}
                
                    <li class="page-item disabled">
                        <a class="page-link" href="#" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                        </a>
                      </li>

                {% endif %}
            </span>
            </ul>
      </nav>


      <div class='row'>
        

      {% for image in images %}
      <div class='{{display.col_style}}'>
      <div class="card mb-3 text-white bg-dark border-dark {{display.width}}" style="left: 50%; transform: translate(-50%)">
        <img src="{{image.image_url}}" class="card-img-top" alt="{{image.image_title}}">
        <div class="card-body">
          <h5 class="card-text">{{image.image_title}}</h5>
        </div>
        <div class="card-footer">
          <small class="text-muted">Image added: {{image.image_added}}</small>
          <div class="float-right">
          Categories:
          {% for cat in image.image_category.all %}
          <a href="#" class="btn btn-secondary btn-sm">{{cat.category}}</a>
          {% endfor %}
          </div>
        </div>
      </div>
    </div>

{% endfor %}
  </div>
    </main>
  </div>
</div>



{% endblock %} 