{% extends "gallery/header.html" %}

{% block content %}

  <body>
    <nav class="navbar mb-auto fixed-top shadow">
      {% load static %}
      <img class="navbar-brand" src="{% static 'images/logo.png' %}" alt="The Gallery"/>
      <nav class="navbar-nav">
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link active" href="#">Gallery</a>
            <a class="nav-link" href="/api/">API</a>
      </nav>
    </nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block sidebar">
      <div class="sidebar-sticky">
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Order by</span>
          <a class="d-flex align-items-center text-muted" href="#">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
              {% if display.order_by != 'oldest' %}
            <a class="nav-link active" href="#">
              {% else %}
              <a class="nav-link" href="?order=newest&display={{display.display}}&images={{display.images_per_page}}">
                {% endif %}
              <span data-feather="file-text"></span>
              Newest first
            </a>
          </li>
          <li class="nav-item">
            {% if display.order_by == 'oldest' %}
            <a class="nav-link active" href="#">
            {% else %}
            <a class="nav-link" href="?order=oldest&display={{display.display}}&images={{display.images_per_page}}">
              {% endif %}
              <span data-feather="file-text"></span>
              Oldest first
            </a>
          </li>
        </ul>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Select category</span>
          <a class="d-flex align-items-center text-muted" href="#">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{display.category}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% if display.category == 'All' %}
              <a class="dropdown-item active" href="#">All</a>
              {% else %}
              <a class="dropdown-item" href="/gallery?order={{display.order_by}}&display={{display.display}}&images={{display.images_per_page}}">All</a>
              {% endif %}
              <div class="dropdown-divider"></div>
              {% for category in categories %}
                {% if display.category != category.slug %}
                <a class="dropdown-item" href="/gallery/{{category.slug}}?order={{display.order_by}}&display={{display.display}}&images={{display.images_per_page}}">{{category.name}} ({{category.image_set.all.count}})</a>
                {% else %}
                <a class="dropdown-item active" href="#">{{category.name}} ({{category.image_set.all.count}})</a>
                {% endif %}
              {% endfor %}
            </div>
          </li>
        </ul>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Display format</span>
          <a class="d-flex align-items-center text-muted" href="#">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            {% if display.display == '1' %}
            <a class="nav-link active" href="?display=1&page={{images.number}}&images={{display.images_per_page}}&order={{display.order_by}}">
            {% else %}
            <a class="nav-link" href="?display=1&page={{images.number}}&images={{display.images_per_page}}&order={{display.order_by}}">
            {% endif %}
              <span data-feather="file-text"></span>
              1 column
            </a>
          </li>
          <li class="nav-item">
            {% if display.display == '2' %}
            <a class="nav-link active" href="?display=2&page={{images.number}}&images={{display.images_per_page}}&order={{display.order_by}}">
            {% else %}
            <a class="nav-link" href="?display=2&page={{images.number}}&images={{display.images_per_page}}&order={{display.order_by}}">
            {% endif %}
              <span data-feather="file-text"></span>
              2 columns
            </a>
          </li>
          <li class="nav-item">
            {% if display.display == '3' %}
            <a class="nav-link active" href="?display=3&page={{images.number}}&images={{display.images_per_page}}&order={{display.order_by}}">
            {% else %}
            <a class="nav-link" href="?display=3&page={{images.number}}&images={{display.images_per_page}}&order={{display.order_by}}">
            {% endif %}
              <span data-feather="file-text"></span>
              3 columns
            </a>
          </li>
          <li class="nav-item">
            {% if display.display == '4' %}
            <a class="nav-link active" href="?display=4&page={{images.number}}&images={{display.images_per_page}}&order={{display.order_by}}">
            {% else %}
            <a class="nav-link" href="?display=4&page={{images.number}}&images={{display.images_per_page}}&order={{display.order_by}}">
            {% endif %}
              <span data-feather="file-text"></span>
              4 columns
            </a>
          </li>
        </ul>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>images per page</span>
            <a class="d-flex align-items-center text-muted" href="#">
              <span data-feather="plus-circle"></span>
            </a>
          </h6>
          <ul class="nav flex-column mb-2">
            <li class="nav-item">
              {% if display.images_per_page == '10'%}
              <a class="nav-link active" href="?display={{display.display}}&images=10&order={{display.order_by}}">
              {% else %}
              <a class="nav-link" href="?display={{display.display}}&images=10&order={{display.order_by}}">
              {% endif %}
                <span data-feather="file-text"></span>
                10
              </a>
            </li>
            <li class="nav-item">
                {% if display.images_per_page == '25'%}
                <a class="nav-link active" href="?display={{display.display}}&images=25&order={{display.order_by}}">
                {% else %}
                <a class="nav-link" href="?display={{display.display}}&images=25&order={{display.order_by}}">
                {% endif %}
                <span data-feather="file-text"></span>
                25
              </a>
            </li>
            <li class="nav-item">
                {% if display.images_per_page == '50'%}
              <a class="nav-link active" href="?display={{display.display}}&images=50&order={{display.order_by}}">
              {% else %}
              <a class="nav-link" href="?display={{display.display}}&images=50&order={{display.order_by}}">
              {% endif %}
                  <span data-feather="file-text"></span>
                  50
                </a>
              </li>
              <li class="nav-item">
                  {% if display.images_per_page == '100'%}
                  <a class="nav-link active" href="?display={{display.display}}&images=100&order={{display.order_by}}">
                  {% else %}
                  <a class="nav-link" href="?display={{display.display}}&images=100&order={{display.order_by}}">
                  {% endif %}
                    <span data-feather="file-text"></span>
                    100
                  </a>
                </li>
          </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      {% if display.category == 'All' %}
      <h6 style="color: white; text-align: center;">Showing images {{images.start_index}} - {{images.end_index}} of {{display.total_images}}</h6>
      {% else %}
      <h6 style="color: white; text-align: center;">Showing images {{images.start_index}} - {{images.end_index}} of {{display.total_images}} in category "{{display.category}}"</h6>
      {% endif %}
        <nav style="margin-top: 1rem;">
        <ul class="pagination justify-content-center">
              
                {% if images.has_previous %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ images.previous_page_number }}&display={{display.display}}&images={{display.images_per_page}}&order={{display.order_by}}" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                
                {% else %}

                  <li class="page-item disabled">
                    <a class="page-link" href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>

                {% endif %}
                  
                {% for i in images.paginator.page_range %}


                {% if images.number == forloop.counter %}
                <li class="page-item active"><a class="page-link" href="?page={{ forloop.counter }}&display={{display.display}}&images={{display.images_per_page}}&order={{display.order_by}}">{{forloop.counter}}</a></li>
        
                  {% else %}

                  <li class="page-item"><a class="page-link" href="?page={{ forloop.counter }}&display={{display.display}}&images={{display.images_per_page}}&order={{display.order_by}}">{{forloop.counter}}</a></li>

                  {% endif %}

                {% endfor %}

                {% if images.has_next %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ images.next_page_number }}&display={{display.display}}&images={{display.images_per_page}}&order={{display.order_by}}" aria-label="Next">
                     <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>

                {% else %}
                
                    <li class="page-item disabled">
                        <a class="page-link" href="#" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                        </a>
                      </li>

                {% endif %}
            </span>
            </ul>
      </nav>


      <div class='row'>
        

      {% for image in images %}
      <div class='{{display.col_style}}'>
      <div class="card mb-3 text-white bg-dark border-dark {{display.width}}" style="left: 50%; transform: translate(-50%)">
        <a href="{{image.image.url}}" target="_blank">
        <img src="{{image.image.url}}" class="card-img-top" alt="{{image.title}}">
        </a>
        <div class="card-body">
          <h5 class="card-text">{{image.title}}</h5>
        </div>
        <div class="card-footer">
          <small class="text-muted">Image added: {{image.date}}</small>
          <div class="float-right">
          Categories:
          {% for cat in image.category.all %}
          <a href="/gallery/{{cat.slug}}?order={{display.order_by}}&display={{display.display}}&images={{display.images_per_page}}" class="btn btn-secondary btn-sm">{{cat.name}}</a>
          {% endfor %}
          </div>
        </div>
      </div>
    </div>

{% endfor %}
  </div>

  <nav style="margin-top: 1rem;">
      <ul class="pagination justify-content-center">
            
              {% if images.has_previous %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ images.previous_page_number }}&display={{display.display}}&images={{display.images_per_page}}&order={{display.order_by}}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
              
              {% else %}

                <li class="page-item disabled">
                  <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>

              {% endif %}
                
              {% for i in images.paginator.page_range %}


              {% if images.number == forloop.counter %}
              <li class="page-item active"><a class="page-link" href="?page={{ forloop.counter }}&display={{display.display}}&images={{display.images_per_page}}&order={{display.order_by}}">{{forloop.counter}}</a></li>
      
                {% else %}

                <li class="page-item"><a class="page-link" href="?page={{ forloop.counter }}&display={{display.display}}&images={{display.images_per_page}}&order={{display.order_by}}">{{forloop.counter}}</a></li>

                {% endif %}

              {% endfor %}

              {% if images.has_next %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ images.next_page_number }}&display={{display.display}}&images={{display.images_per_page}}&order={{display.order_by}}" aria-label="Next">
                   <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>

              {% else %}
              
                  <li class="page-item disabled">
                      <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>

              {% endif %}
          </span>
          </ul>
    </nav>
    </main>
  </div>
</div>



{% endblock %} 