{% extends "gallery/header.html" %}

{% block content %}
<body class="text-center">
    <nav class="navbar mb-auto shadow">
        {% load static %}
        <img class="navbar-brand" src="../../static/gallery/img/logo.png" alt="The Gallery">
        <nav class="navbar-nav">
              <a class="nav-link active" href="#">Home</a>
              <a class="nav-link" href="/gallery/">Gallery</a>
              <a class="nav-link" href="/api/">API</a>
        </nav>
      </nav>

  <div class="landing">
    <div>
      <p class="lead" style="font-size: 40px; color: #ffffff;">Thousands of pictures</p>
       <p class="lead">
      <a href="/gallery/" class="btn btn-lg btn-secondary">Start browsing</a>
    </p>
    </div>
    <p id="footer" style="color: rgba(255, 255, 255, .5)">© 2019 encqre</p>
  </div>

{% endblock %} 